@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 20%;
    --foreground: 0 0% 98%;
    --card: 220 13% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 220 13% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 220 13% 10%;
    --secondary: 220 13% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 61% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 28%;
    --input: 220 13% 28%;
    --ring: 182 100% 74%;
    --chart-1: 182 100% 74%;
    --chart-2: 120 61% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 20%;
    --foreground: 0 0% 98%;
    --card: 220 13% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 220 13% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 220 13% 10%;
    --secondary: 220 13% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 61% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 28%;
    --input: 220 13% 28%;
    --ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
